/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.HourlyWeather {
  display: flex;
  width: fit-content;
  min-width: 100%;
}

.HourlyWeatherSegment {
  width: 5rem;
}

.WindGraph {
  width: 100%;
  height: 20em;
  border: solid;
}
